@media (min-width: 970px) and (max-width: 1197px) {
	.align-paralax-a{
		margin-left:0%
	}
}

@media (max-width: 1045px) {
	.service .calendar {
	    font-size: 3.8em;
	}
}
@media (max-width: 1193px) {
	.profiles .my-social .social-redes{
		max-width: 300px;
		margin: 3px;
	}
}
@media (max-width: 1111px) {
	.greeting p {
	    position: absolute;
	    bottom: 50px;
	    color: #004860;
	    font-size: 3.5em;
	    line-height: .8;
	    font-family: gothamTwo;
	    font-weight: bold;
	}
	.erashymow {
	    color: #37B4AA;
	    font-size: 1.6em;
	    font-family: gothamTwo;
	}
}

@media (max-width: 995px) {
	.profiles .search-more .left hr, .profiles .search-more .right hr{
		width: 20% !important;
	}
	.profiles .search-more .center {
	    float: left;
	    width: 50%;
	}
	.profiles .my-social .social-redes{
		max-width: 300px;
		margin: 3px;
	}
 	.butto-formns{
		margin-top: 10px;
	}
	.welcome-two{
		height: 250px;
	}
	.welcome-two p{
		margin-top: 20px;
	}
	.notice-text {
	    border-left:none;
	    border-top: 3px solid #CCCCCC;
	    margin: 10px;
	    padding-left: 10px;
	}
	.imgArticle .articleImg {
	    margin-bottom: 10px;
	}
	.contentSearch > .header > img{
		position: absolute;
		left: -30px;
		width: 112%;
	}
	.contentSearch .content-for{
		margin-top: 40px;
	}
	.decorator {
	    margin: auto;
	}
	.reg_personal .content_personal{
		margin-top: 0px;
	}
	.reg_personal .finish p{
		top: -200px;
	}

}
@media (max-width: 917px){
	.greeting p {
	    position: absolute;
	    bottom: 50px;
	    color: #004860;
	    font-size: 3em;
	    line-height: .8;
	    font-family: gothamTwo;
	    font-weight: bold;
	}
	.erashymow {
	    color: #37B4AA;
	    font-size: 1.7em;
	    font-family: gothamTwo;
	}
}
@media (max-width: 769px){
	.profiles .container .profile-data-header {
	    margin-left: 0px;
	    background: rgba(239,239,239,1);
	    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(21%, rgba(239,239,239,1)), color-stop(54%, rgba(250,250,250,1)), color-stop(100%, rgba(237,237,237,1)));
	    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ededed', GradientType=0 );
	    position: relative;
	    top: 0px;
	    border-radius: 5px;
	}
	.profiles .container .profile-data-header img{
		padding-top: 10px;
	}
	.container-registry {
    	position: static;
    	margin:auto;
	}
	.welcome-two p {
	    margin-top: 0px;
	    padding-top: 20px;
	}
	.greeting{
		height: 200px;
	}
	.greeting p{
		top: 90px;
		position: relative;
	}
	.welcome-two b{
		bottom: 10px;
		position: relative;
	}
	.welcome-two {
	    height: auto;
	}

	.contentSearch .content-for{
		padding-top: 60px;
	}
	.contentSearch {
  		margin-bottom: 20px;
	}
	.paralax .paralax-text{
		top: 50px;
	}
	.paralax h2{
		font-size: 3em;
	}
	
	.img-contacto{
		
	background: rgba(0,170,159,1);
	background: -moz-linear-gradient(left, rgba(0,170,159,1) 0%, rgba(1,182,176,1) 51%, rgba(1,191,188,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,170,159,1)), color-stop(51%, rgba(1,182,176,1)), color-stop(100%, rgba(1,191,188,1)));
	background: -webkit-linear-gradient(left, rgba(0,170,159,1) 0%, rgba(1,182,176,1) 51%, rgba(1,191,188,1) 100%);
	background: -o-linear-gradient(left, rgba(0,170,159,1) 0%, rgba(1,182,176,1) 51%, rgba(1,191,188,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,170,159,1) 0%, rgba(1,182,176,1) 51%, rgba(1,191,188,1) 100%);
	background: linear-gradient(to right, rgba(0,170,159,1) 0%, rgba(1,182,176,1) 51%, rgba(1,191,188,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aa9f', endColorstr='#01bfbc', GradientType=1 );

	}

	.reg_personal .hobbies{
		border-top:2px solid #CCCCCC;
		border-left: none;
		margin-top:20px;
	}
	.reg_personal .hobbies a{
		margin-top: 20px;
		position: relative;
	}
	.reg_personal .finish p{
		position: static;
		top:0px;
	}
	.reg_personal .hobbies-empresa{
		margin-top:10px;
	}
	.reg_personal .about-you-empresa {
	    padding: 10px 0px !important;
	    border-bottom: 2px solid #CCCCCC;
	    border-right: 0px solid #CCCCCC;
	}
	.borders-service {
	    border-left: 0px;
	    border-right: 0px;

	}
	.borders-service-responsive{
	    padding: 20px 0px;
	    border-top: 2px solid #CCCCCC;; 
	    border-bottom: 2px solid #CCCCCC;
	}
	.navbar-nav {
	    margin: 0px !important;
	}
}
@media (max-width: 602px) {
	.align-paralax-a{
		margin-left:0%
	}
	.profiles .my-social .social-redes .img-social img{
		max-width: 100%;
	}
	.profiles .my-social .social-redes{
		max-width: 100%;
	}

}
@media (max-width: 500px){
	.profiles .search-more .left hr, .profiles .search-more .right hr{
		width: 100%;
		display: none;
	}
	.profiles .search-more .center {
	    width: 100%;
	    top: 0px;
	}
	.img-hand{
		display: none;
	}
	.greeting {
	    height: 100px;
	}
	.greeting p{
		top: 20px;
		text-align: center;
	}
	.erashymow {
		font-size: 1em;
	}
	.paralax h2{
		font-size: 2em;
	}
	.paralax .paralax-text a{
		padding: 5px 10px;
		margin:0px 0px 0px 5px;
	}
}

@media (max-width: 383px){
	.align-paralax-a {
	    margin-left: 0%;
	    position: relative;
	    top: -20px;
	    text-align: center;
	}
}
@media (max-width: 350px){
	.paralax .paralax-text{
		top: 5px;
	}
	.paralax .paralax-text a{
		position: relative;
		left: -50px;
		padding: 5px 5px;
	}
}