@import 'fonts.css';
.all{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e3e3+0,ffffff+52,d6d6d6+100 */
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(left, #e3e3e3 0%, #ffffff 52%, #d6d6d6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #e3e3e3 0%,#ffffff 52%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #e3e3e3 0%,#ffffff 52%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
}
header{
	width:100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.61);
	box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.61);
	z-index: 1000;
	position: relative;
}
header img{
    height: auto;
    position: relative;
    left: 0;
    width: 100%;
}
.welcome{
    
	background: rgba(227,227,227,1);
	background: -moz-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(227,227,227,1)), color-stop(50%, rgba(243,243,243,1)), color-stop(100%, rgba(227,227,227,1)));
	background: -webkit-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: -o-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: -ms-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: linear-gradient(to right, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3', GradientType=1 );

}
.welcome .img-hand{
	position: absolute;
	top: 0;
	right: 35%;
	width: 25%;
	max-width: 400px;
}
.greeting{
	height: 400px;
}
.greeting p{
	position: absolute;
	bottom: 50px;
	color: #004860;
	font-size: 4em;
	line-height: .8;
	font-family: gothamTwo;
	font-weight: bold;
}
.erashymow{
	color: #37B4AA;
	font-size: 1.7em;
	font-family: gothamTwo;
}
.welcome-registry .form-group{
	margin-bottom: 5px;
}
.registry{
	position: relative;
	z-index: 1000;
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	
	background: rgba(232,232,232,1);
	background: -moz-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,232,232,1)), color-stop(50%, rgba(243,243,243,1)), color-stop(100%, rgba(253,253,253,1)));
	background: -webkit-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: -o-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: -ms-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#fdfdfd', GradientType=1 );

}
.registry img{
	max-width: 370px;
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
.registry a{
	max-width: 370px;
}
.butto-formns{
	background: #37B4AA;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 10px;
}
.welcome-two{
	z-index: 999;
	height: 225px;
	background: #004860;
}
.welcome-two p{
	color: #fff;
	font-size: 1.5em;
	width: 80%;
	margin-top: 30px;
	font-family: gotham;
}
.welcome-two p span{
	font-family: gothamTwo;
	font-weight: bold;
}
.welcome-two b{
	font-family: gothamTwo;
}
.container-registry{
	position: absolute;
	max-width: 350px;
}
.navbar-default{
	background:#61605f !important;
	border:none;
}
.navbar {
    border-radius: 0px !important;
}
.navbar-default .navbar-nav > li > a {
	color: #ACACAC;
	font-family: gotham;
	font-size: 1.2em;
	border-left: 1px solid #ACACAC;
	margin:2px 0px;
}
.contentSearch button{
	display: block;
	margin:auto;
	text-align: center;
}
.contentSearch{
	background: #00CCCC;
	font-family: arial;
	border-radius: 0px 0px 10px 10px;
}
.contentSearch label{
	font-family: arial;
	font-weight: bold;
}
.contentSearch > .header > img{
	position: absolute;
	left: -50px;
	top: -15px;
	max-width: 355px;
	width: 118%;
}
.contentSearch .content-for{
	margin-top: 65px;
}
.padd-left{
	padding-left: 5px !important;
}
.padd-right{
	padding-right: 5px !important;
}
.formulario{
	background: #F1F1F1;
	overflow: hidden;
	margin: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px; 
}
.img-formulario{
	text-align: center;
}
.img-formulario img {
	display: block;
	margin:auto;
	text-align: center;
	min-width: 50px;
	width: 21.1821%;
	display: inline;
	cursor: pointer;
}
.img-formulario-redes img {
	display: block;
	margin:auto;
	text-align: center;
	min-width:48px;
	width: 16.4948%;
	display: inline;
	cursor: pointer;
}
.formulario label{
	color: #00A99D;
	font-size: .8em;
}
hr {
    border-top: 1px solid #c5c5c5;
    margin: 10px 10px;
}
.muchtSearch img{
	cursor: pointer;
}
.content{
	width: 90%;
	margin:auto;
}

.video video{
	width: 100%;
	margin-bottom: 20px;
}

.imgArticle .articleImg{
	border: 15px solid #66C1BF;
	float: left;
	width: 90%;
}
.binieta img{
	float: right;
	width: 10%;
}
.notice{
	clear: both;
	background: #fff;
	overflow: hidden;
}
.notice-text{
	border-left: 3px solid #CCCCCC;
	margin:10px;
	padding-left: 10px;
}
.notice-text p{
	color: #999999;
}
.notice-text h2{
	color: #66C1BF;
	font-family: gothamTwo;
}
.notice-text a{	
	background: #37B4AA;
	color: #fff;
	border: none;
	padding: 5px;
	float: right;
	font-weight: bold;
}
.decorator{
	margin-top: 20px;
	display: block;
	text-align: center;
	max-width: 70px;
	max-height: 80px;
	width: 100%;
}
.articles .header{
	font-family: gotham;
	font-weight: bold;
}
.articles .header span{
	font-family: gothamTwo;
	color:#808080;
}
/*SLIDER USER*/



h1, h2, h3, h4, h5, h6, li, p, ul { border: 0; margin: 0; padding: 0;}
ol, ul {list-style: none;}
li {display: list-item;}

h4{
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    color: #707070;
	font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px; 
}

p{
    font: 12px 'Droid Sans', sans-serif;
    line-height: 18px;
    color: #8f8f8f;
}

.grid_3.carousel-article .caroufredsel_wrapper{
    width: 100% !important;
}

.carousel-article{
    width: 100%;
}

.grid_3.carousel-article .carousel-li > li{
    width: 220px;
    margin-right: 0;
}

.carousel-pagination {
    text-align: center;
    float: left;
    margin-top: 10px;
}

.carousel-pagination a {
    background: url('../img/btn.png') no-repeat;
    width: 19px;
    height: 5px;
    margin: 0 5px 0 0;
    display: inline-block;
}

.carousel-pagination a.selected {
    background: url('../img/btn-active.png') no-repeat;
    cursor: default;
}

.carousel-pagination a span {
    display: none;
}


/*USERS*/
.users{
	margin-top: 20px;
	-webkit-box-shadow: 0px -3px 14px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 14px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -3px 14px -3px rgba(0,0,0,0.75);

}

/*PARALAX*/
.paralax{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.paralax h2{
	font-family: gothamTwo;
	font-size: 4.5em;
}
.paralax img{
	width: 100%;
	z-index: -999;
}
.paralax .paralax-text{
	z-index: 900;
	position: absolute;
	top: 150px;
	color: #fff;
}
.paralax .paralax-text a{
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 15px 20px;
	color: #fff;
	margin:20px 0px 0px 50px;
	font-weight: bold;
}
.align-paralax-a{
	margin-left:20%
}
/*FOOTER */
.footer{
	background: #004860;
	color: #fff;
	height: 100px;
}
.footer a, .footer p{
	color: #fff;
	font-family: gotham;
	font-size: 1.2em
	font-weight:bold;
}
.link{
	padding-top: 15px;
}
.footer-img img{
	display: inline;
	max-width: 20px;
	margin-top: 10px;
	cursor: pointer;
}

/*Que es shymow*/

.nav-shymow{
	background: #37B5AA;
	overflow: hidden;
}

.shymow .whatis p, .shymow .whatis h2{
	color: #4C4C4C;
}
.shymow .whatis h2{
	font-size: 3em;
	font-family: gothamTwo;
	text-align: center;
	margin-bottom: 70px;
}
.shymow .whatis p{
	font-size: 1.2em;
	font-family: arial
}
.shymow .whatis{
	margin-top: 50px;
}
.shymow .whatis .shymowWhat img{
	max-width: 250px;
	width: 100%;
	margin-top: 30px;
	display: block;
	text-align: center;
}

.shymow .whatis .shymowWhat p{
	font-family: gotham;
	font-size: 2em;
	color:#37B4AA;
	text-align: center;
	line-height: 1;
}
.whatis .neWas p, .whatis .neWas h2{
	color:#37B5AA !important;
	text-align: center;
}

/*FAQ*/

.faq h2{
	color:#4D4D4D !important;
	font-family: gothamTwo;
	font-size: 3.4em;

}

.faq .question{
	color: #37B5AA;
	font-family: gothamTwo;
	font-size: 1.5em;
}
.faq .answer{
	color: #4D4D4D;
	font-family: arial;
	font-size: 1.3em;
}
/*Contacto*/
.img-contacto{
	margin-top: 50px;
	position: absolute;
	width: 100%;
	height: auto;

background:#00C1BE;
}
.img-contacto img{
	width: 100%;
}
.img-contacto h2{
	color:#fff !important; font-family:gothamTwo; font-size:3.5em;
}
.img-contacto .row{
	margin-right: 0px !important;
}
.img-contacto p b{
	margin-left:20px;
}
.img-contacto p{
	font-size:1.5em; text-align:justify; margin-left:20px;margin-right:20px; font-family:arial;line-height:1.5; color:#fff;
}

/*Registro GENERAL*/
.reg_general{
	background: #DEDEDE;
}
.reg_general .container{
	background: #fff;
	border-radius: 10px;
	min-height: 500px;
}
.reg_general .header_reg h2{
	color:#4D4D4D !important;
	font-family: gothamTwo;
	font-size: 2.5em;
	text-align: initial !important;
	padding-bottom: 5px;
}
.reg_header p{
	color:#4D4D4D !important;
	font-family: arial;
	font-size: 1.3em;
	text-align: initial !important;
}

.reg_general .header_reg{
	border-bottom:4px solid #37B5AA;
	padding-top: 15px;
}
.reg_general .genera_content{
	margin:20px auto;
	width:80%;
}
.reg_general .genera_content p{
	color: #4D4D4D;
	margin:20px 0px;
	font-size: 1.5em;
	font-family: arial;
	line-height: 1;
}
.reg_general .genera_content img{
	margin:auto;
	width: 130px;
	height: 130px;
}

/*Registro PERSONAL*/
.reg_personal{
	background: #DEDEDE;
}
.reg_personal h2{
	color:#4D4D4D !important;
	font-family: gothamTwo;
	font-size: 2.5em;
	text-align: initial !important;
	padding-bottom: 5px;
}
.reg_personal .content_personal{
	margin-top: 80px;
}

.reg_personal p{
	color:#4D4D4D !important;
	font-family: arial;
	font-size: 1.5em;
}
.reg_personal img{
	max-width: 500px;
	width: 100%;
}

/* Registro personal parte 2*/
.reg_personal .about-you{
	width: 70%;
}
.reg_personal .about-you .date{
	width: 80px !important;
	max-width: 80px;
	display: inline;
}

.reg_personal .about-you label{
	color: #37B4AA;
}
.reg_personal .hobbies h3,.reg_personal .about-you h3{
	color:#C0BFBF;
	font-family: gothamTwo;
	margin-bottom: 20px;
}
.reg_personal .hobbies{
	border-left: 2px solid #CCCCCC;
	padding-left:10px;
}
.reg_personal .hobbies p{
	font-size: 1em;
}
.reg_personal .hobbies .like-me{
 	padding:5px 9px;
 	border: 2px solid #37B5AA;
 	display: inline-block;
 	border-radius: 5px;
 	margin:5px;
 	cursor: pointer;
 	color:#37B5AA;
}
.reg_personal .hobbies .like-me:hover{
	border: 2px solid #A841FF;
	color:#A841FF;
}



/*Registro Personal FINAL*/

.reg_personal .finish p{
	font-size:1em;
	position: absolute;
	top: -150px;
}
.reg_personal .reg_redes{
	margin-bottom: 50px;
}
.reg_personal .reg_redes button{
	border-radius:5px;padding:6px 12px; background:#37B4AA;border:0px;color:#fff;
}
.reg_personal .reg_redes input{
	width:80%;display:inline; margin-right: 5px ;
}
.reg_personal .reg_redes h3{
	color:#C0BFBF;
	font-family: gothamTwo;
	margin-bottom: 20px;
}