@import 'fonts.css';
.all{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e3e3+0,ffffff+52,d6d6d6+100 */
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(left, #e3e3e3 0%, #ffffff 52%, #d6d6d6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #e3e3e3 0%,#ffffff 52%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #e3e3e3 0%,#ffffff 52%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
}
header{
	width:100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.61);
	box-shadow: 0px 7px 10px -3px rgba(0,0,0,0.61);
	z-index: 10;
	position: relative;
}
header img{
    height: auto;
    position: relative;
    left: 0;
    width: 100%;
}
.cookies{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000000;
}
.welcome{
    
	background: rgba(227,227,227,1);
	background: -moz-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(227,227,227,1)), color-stop(50%, rgba(243,243,243,1)), color-stop(100%, rgba(227,227,227,1)));
	background: -webkit-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: -o-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: -ms-linear-gradient(left, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	background: linear-gradient(to right, rgba(227,227,227,1) 0%, rgba(243,243,243,1) 50%, rgba(227,227,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3', GradientType=1 );

}
.welcome .img-hand{
	position: absolute;
	top: 0;
	right: 35%;
	width: 25%;
	max-width: 400px;
}
.greeting{
	height: 400px;
}
.greeting p{
	position: absolute;
	bottom: 50px;
	color: #004860;
	font-size: 4em;
	line-height: .8;
	font-family: gothamTwo;
	font-weight: bold;
}
.erashymow{
	color: #37B4AA;
	font-size: 1.7em;
	font-family: gothamTwo;
}
.welcome-registry .form-group{
	margin-bottom: 5px;
}
.registry{
	position: relative;
	z-index: 1000;
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	
	background: rgba(232,232,232,1);
	background: -moz-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,232,232,1)), color-stop(50%, rgba(243,243,243,1)), color-stop(100%, rgba(253,253,253,1)));
	background: -webkit-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: -o-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: -ms-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 50%, rgba(253,253,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#fdfdfd', GradientType=1 );

}
.registry img{
	max-width: 370px;
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
.registry a{
	max-width: 370px;
}
.butto-formns{
	background: #37B4AA !important;
	color: #fff !important;
	border: none;
	border-radius: 5px;
	padding: 10px 10px !important;
}
.butto-blank{
	background: #fff !important;
	color: #01B2AA !important;
	border: 2px solid #01B2AA;
	border-radius: 5px;
	margin-right: 10px !important;
	padding: 10px 10px !important;
}
.butto-danger{
	background: #fff !important;
	color: #C9302C !important;
	border: 2px solid #C9302C;
	border-radius: 5px;
	margin-right: 10px !important;
	padding: 10px 10px !important;
}
.welcome-two{
	z-index: 999;
	height: 225px;
	background: #004860;
}
.welcome-two p{
	color: #fff;
	font-size: 1.5em;
	width: 80%;
	margin-top: 30px;
	font-family: gotham;
}
.welcome-two p span{
	font-family: gothamTwo;
	font-weight: bold;
}
.welcome-two b{
	font-family: gothamTwo;
}
.container-registry{
	position: absolute;
	max-width: 350px;
}
.menu .navbar-default{
	background:#61605f !important;
	border:none;
}
.menu .navbar {
    border-radius: 0px !important;
}
.navbar-default .navbar-nav > li > a {
	color: #ACACAC;
	font-family: gotham;
	font-size: 1.2em;
	border-left: 1px solid #ACACAC;
	margin:2px 0px;
}
.contentSearch button{
	display: block;
	margin:auto;
	text-align: center;
}
.contentSearch{
	background: #00CCCC;
	font-family: arial;
	border-radius: 0px 0px 10px 10px;
}
.contentSearch label{
	font-family: arial;
	font-weight: bold;
}
.contentSearch > .header > img{
	position: absolute;
	left: -50px;
	top: -15px;
	max-width: 355px;
	width: 118%;
}
.contentSearch .content-for{
	margin-top: 65px;
}
.padd-left{
	padding-left: 5px !important;
}
.padd-right{
	padding-right: 5px !important;
}
.formulario{
	background: #F1F1F1;
	overflow: hidden;
	margin: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px; 
}
.img-formulario{
	text-align: center;
}
.img-formulario img {
	display: block;
	margin:auto;
	text-align: center;
	min-width: 50px;
	width: 21.1821%;
	display: inline;
	cursor: pointer;
}
.img-formulario-redes img {
	display: block;
	margin:auto;
	text-align: center;
	min-width:48px;
	width: 16.4948%;
	display: inline;
	cursor: pointer;
}
.formulario label{
	color: #00A99D;
	font-size: .8em;
}
hr {
    border-top: 1px solid #c5c5c5;
    margin: 10px 10px;
}
.muchtSearch img{
	cursor: pointer;
}
.content{
	width: 90%;
	margin:auto;
}

.video video{
	width: 100%;
	margin-bottom: 20px;
}

.imgArticle .articleImg{
	border: 15px solid #66C1BF;
	float: left;
	width: 90%;
}
.binieta img{
	float: right;
	width: 10%;
}
.notice{
	clear: both;
	background: #fff;
	overflow: hidden;
}
.notice-text{
	border-left: 3px solid #CCCCCC;
	margin:10px;
	padding-left: 10px;
}
.notice-text p{
	color: #999999;
}
.notice-text h2{
	color: #66C1BF;
	font-family: gothamTwo;
}
.notice-text a{	
	background: #37B4AA;
	color: #fff;
	border: none;
	padding: 5px;
	float: right;
	font-weight: bold;
}
.decorator{
	margin-top: 20px;
	display: block;
	text-align: center;
	max-width: 70px;
	max-height: 80px;
	width: 100%;
}
.articles .header{
	font-family: gotham;
	font-weight: bold;
}
.articles .header span{
	font-family: gothamTwo;
	color:#808080;
}
/*SLIDER USER*/



h1, h2, h3, h4, h5, h6, li, p, ul { border: 0; margin: 0; padding: 0;}
ol, ul {list-style: none;}
li {display: list-item;}

h4{
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    color: #707070;
	font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px; 
}

p{
    font: 12px 'Droid Sans', sans-serif;
    line-height: 18px;
    color: #8f8f8f;
}

.grid_3.carousel-article .caroufredsel_wrapper{
    width: 100% !important;
}

.carousel-article{
    width: 100%;
}

.grid_3.carousel-article .carousel-li > li{
    width: 220px;
    margin-right: 0;
}

.carousel-pagination {
    text-align: center;
    float: left;
    margin-top: 10px;
}

.carousel-pagination a {
    background: url('../img/btn.png') no-repeat;
    width: 19px;
    height: 5px;
    margin: 0 5px 0 0;
    display: inline-block;
}

.carousel-pagination a.selected {
    background: url('../img/btn-active.png') no-repeat;
    cursor: default;
}

.carousel-pagination a span {
    display: none;
}


/*USERS*/
.users{
	margin-top: 20px;
	-webkit-box-shadow: 0px -3px 14px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 14px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -3px 14px -3px rgba(0,0,0,0.75);

}

/*PARALAX*/
.paralax{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.paralax h2{
	font-family: gothamTwo;
	font-size: 4.5em;
}
.paralax img{
	width: 100%;
	z-index: -999;
}
.paralax .paralax-text{
	z-index: 900;
	position: absolute;
	top: 150px;
	color: #fff;
}
.paralax .paralax-text a{
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 15px 20px;
	color: #fff;
	margin:20px 0px 0px 50px;
	font-weight: bold;
}
.align-paralax-a{
	margin-left:20%
}
/*FOOTER */
.footer{
	background: #004860;
	color: #fff;
	height: 100px;
}
.footer a, .footer p{
	color: #fff;
	font-family: gotham;
	font-size: 1.2em
	font-weight:bold;
}
.link{
	padding-top: 15px;
}
.footer-img img{
	display: inline;
	max-width: 20px;
	margin-top: 10px;
	cursor: pointer;
}
/*Dopwdown*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/*Que es shymow*/

.nav-shymow .dropdown .dropdown-menu a{
	color: #000;
}

.nav-shymow .nav .open > a, .nav-shymow .nav .open > a:focus, .nav-shymow .nav .open > a:hover {
	background-color: #fff !important;color:#000 !important; 	
}
.nav-shymow .dropdown a:hover{
	background-color: #fff !important;color:#000 !important; 
}
.nav-shymow .dropdown a{
	font-family: gotham;
	color: #fff;
}
.nav-shymow{
	background: #37B5AA;
	min-height: 60px;
	z-index: 20 !important;
}
.nav-shymow .dropdown img{
	max-width: 30px;
	border-radius: 5px;
}
.nav-shymow .navbar-right{
	margin-right: -0px;
}
.shymow .whatis p, .shymow .whatis h2{
	color: #4C4C4C;
}
.shymow .whatis h2{
	font-size: 3em;
	font-family: gothamTwo;
	text-align: center;
	margin-bottom: 70px;
}
.shymow .whatis p{
	font-size: 1.2em;
	font-family: arial
}
.shymow .whatis{
	margin-top: 50px;
}
.shymow .whatis .shymowWhat img{
	max-width: 250px;
	width: 100%;
	margin-top: 30px;
	display: block;
	text-align: center;
}

.shymow .whatis .shymowWhat p{
	font-family: gotham;
	font-size: 2em;
	color:#37B4AA;
	text-align: center;
	line-height: 1;
}
.whatis .neWas p, .whatis .neWas h2{
	color:#37B5AA !important;
	text-align: center;
}

/*FAQ*/

.faq h2{
	color:#4D4D4D !important;
	font-family: gothamTwo;
	font-size: 3.4em;

}

.faq .question{
	color: #37B5AA;
	font-family: gothamTwo;
	font-size: 1.5em;
}
.faq .answer{
	color: #4D4D4D;
	font-family: arial;
	font-size: 1.3em;
	text-align: justify;
}
/*Contacto*/
.img-contacto{
	margin-top: 50px;
	position: absolute;
	width: 100%;
	height: auto;

background:#00C1BE;
}
.img-contacto img{
	width: 100%;
}
.img-contacto h2{
	color:#fff !important; font-family:gothamTwo; font-size:3.5em;
}
.img-contacto .row{
	margin-right: 0px !important;
}
.img-contacto p b{
	margin-left:20px;
}
.img-contacto p{
	font-size:1.5em; text-align:justify; margin-left:20px;margin-right:20px; font-family:arial;line-height:1.5; color:#fff;
}

/*Registro GENERAL*/
.reg_general{
	background: #DEDEDE;
}
.reg_general .container{
	background: #fff;
	border-radius: 10px;
	min-height: 500px;
}
.reg_general .header_reg h2{
	color:#4D4D4D !important;
	font-family: gothamTwo;
	font-size: 2.5em;
	text-align: initial !important;
	padding-bottom: 5px;
}
.reg_header p{
	color:#4D4D4D !important;
	font-family: arial;
	font-size: 1.3em;
	text-align: initial !important;
}

.reg_general .header_reg{
	border-bottom:4px solid #37B5AA;
	padding-top: 15px;
}
.reg_general .genera_content{
	margin:20px auto;
	width:80%;
}
.reg_general .genera_content p{
	color: #4D4D4D;
	margin:20px 0px;
	font-size: 1.5em;
	font-family: arial;
	line-height: 1;
}
.reg_general .genera_content img{
	margin:auto;
	width: 130px;
	height: 130px;
}

/*Registro PERSONAL*/
.reg_personal .container{
	width: 90% !important;
}
.reg_personal{
	background: #DEDEDE;
}
.reg_personal h2{
	color:#4D4D4D !important;
	font-family: gothamTwo;
	font-size: 2.5em;
	text-align: initial !important;
	padding-bottom: 5px;
}
.reg_personal .content_personal{
	margin-top: 80px;
}

.reg_personal p{
	color:#61605F !important;
	font-family: arial;
	font-size: 1.3em;
	width: 80%;
	line-height: 1.2;
	text-align: justify;
}
.reg_personal .container .img-reg img{
	max-width: 500px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

/* Registro personal parte 2*/
.out-padding{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.reg_personal .about-you{
	width: 70%;
}
.reg_personal .about-you .date{
	width: 80px !important;
	max-width: 80px;
	display: inline;
}

.reg_personal .about-you label{
	color: #37B4AA;
}
.reg_personal .hobbies h3,.reg_personal .about-you h3{
	color:#C0BFBF;
	font-family: gothamTwo;
	margin-bottom: 20px;
}
.reg_personal .hobbies{
	border-left: 2px solid #CCCCCC;
	padding-left:10px;
}
.reg_personal .hobbies p{
	font-size: 1em;
	margin-top: 15px;
}
.reg_personal .hobbies .like-me{
 	padding:5px 9px;
 	border: 2px solid #37B5AA;
 	display: inline-block;
 	border-radius: 5px;
 	margin:5px;
 	cursor: pointer;
 	color:#37B5AA;
}
.reg_personal .hobbies .like-me:hover{
	border: 2px solid #A841FF;
	color:#A841FF;
}

/* Registro empresa parte 2*/
.reg_personal .about-you-empresa{
	width: 100%;
	padding: 0px 10px !important;
	border-right: 2px solid #CCCCCC;
}
.reg_personal .about-you-empresa .date{
	width: 80px !important;
	max-width: 80px;
	display: inline;
}

.reg_personal .about-you-empresa label{
	color: #37B4AA;
	margin-top: 5px;
}
.reg_personal .hobbies-empresa h3,.reg_personal .about-you-empresa h3{
	color:#C0BFBF;
	font-family: gothamTwo;
	margin-bottom: 20px;
}
.reg_personal .hobbies-empresa{	
	padding-left:10px !important;
}
.reg_personal .hobbies-empresa p{
	font-size: 1em;
	margin-top: 15px;
}
.reg_personal .hobbies-empresa .like-me{
 	padding:5px 9px;
 	border: 2px solid #37B5AA;
 	display: inline-block;
 	font-size: 1em;
 	border-radius: 5px;
 	margin:4px 5px;
 	cursor: pointer;
 	color:#37B5AA;
}
.reg_personal .hobbies-empresa .like-me:hover{
	border: 2px solid #A841FF;
	color:#A841FF;
}
/*Reg EMPRESARIAL SERIVECE*/
	.reg_personal .service img{
		display: block;
		text-align: center;
		margin: auto;
		max-width: 250px;
		width: 100%;
	}
	.service .date-anio{
		position: relative;
		left: 80px;
	}
	.service .service-date{
		font-family: arial;
		font-size: 1.5em;
		text-align: center;
		display: block;
		position: relative;
		left: -50px;
		top: -15px;
	}
	.service span{
		color: #CCCCCC !important;
	}
	.service h2{
		text-align: center !important;
		margin:auto;
		color: #CCCCCC !important;
	}
	.service{
		height: 350px;
	}
	.service .calendar{
	    font-family: arial;
	    font-weight: bold;
	    font-size: 5em;
	    margin-top: 20px;
	}
	.service .happy{		
		font-size: 5em !important;
		font-family: gothamTwo;
		line-height: .8;
	}
	.service .voice{
		font-family: gothamTwo;
		font-size: 3em;
	}
	.service .voice .sub-teme-voice{
		font-size: 0.8em;
		position: relative;
		top: -15px;
	}
	.service .voice-second-teme{
		text-align: center;
		display: block;
		position: relative;
		top: -25px;
		font-family: arial;
		font-size: 1.5em;
	}
	.borders-service{
		padding:0px 10px;
		border-left: 2px solid #CCCCCC;
		border-right: 2px solid #CCCCCC;
	}

/*Registro Personal FINAL*/

.reg_personal .finish p{
	font-size:1em;
	position: absolute;
	top: -150px;
}
.reg_personal .reg_redes{
	margin-bottom: 50px;
}
.reg_personal .reg_delete{
	border-radius:5px;padding:6px 12px; background:#B43737 !important;border:0px;color:#fff;
}
.reg_personal .reg_redes button{
	border-radius:5px;padding:6px 12px; background:#37B4AA;border:0px;color:#fff;
}
.reg_personal .reg_redes input{
	width:80%;display:inline; margin-right: 5px ;
}
.reg_personal .reg_redes h3{
	color:#C0BFBF;
	font-family: gothamTwo;
	margin-bottom: 20px;
}

/*PERFILES*/
.profiles .container{
	margin-top: 20px;
}
.cart-shop{
	position: absolute;
    right: 40px;
    top: 10px;
    background: #36B5AC;
    color: #fff;
    padding: 13px 15px;
    border-radius: 50%;
}
.cart-shop:hover, .cart-shop:visited{
	color:#fff;
}
.cart-shop:hover{
	background: #d50000;
}
.cart-shop i{
	font-size: 2.5em;
}

.post{
	
background: rgba(239,239,239,1);
background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 72%, rgba(246,246,246,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(72%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 72%, rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 72%, rgba(246,246,246,1) 100%);
background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 72%, rgba(246,246,246,1) 100%);
background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(246,246,246,1) 72%, rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#f6f6f6', GradientType=0 );
	padding: 10px;
	clear: both;
	border-radius: 10px;

}
.post .post-container{
	clear: both;
	overflow: auto;
}
.post h2{
	background: #C8C8C8;
	width: 80%;
	display: block;
	text-align: center;
	margin:auto;
	top: -20px;
	position: relative;
	padding:5px 0px;
	border-radius: 5px;
	color:#989898;
	font-family: gothamTwo;
	font-size: 1.6em;
	z-index: 1000;
}
.post .post-avatar{
	width: 10%;
	float: left;
}
.post .post-avatar img{
	border-radius: 5px;
	width: 100%;
}
.post .post-content{
	width: 88%;
	float: right;
}
.post .post-content textarea{
	height: 125px;
	margin-bottom: 5px;
}
.post .post-content button,.post .post-content .camera,.post .post-content select{
	float: right;
	display: inline;
}
.post-content .camera i{
	font-size: 2.3em;
	color: #37B4AA;
	margin-right: 20px;
	top: 4px;
	cursor: pointer;
}
.post .post-content select{
	width: 25%;
	
	margin-right: 20px;
	top: 4px;
}
#uploadImg{
	display: none;
}
.post-content .camera i:hover{
	color:#167B73;
}
.profiles .container .navbar-default{

background: rgba(253,253,253,1);
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(238,238,238,1)));
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(238,238,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eeeeee', GradientType=0 );
border-radius: 0px 0px 10px 10px;
}
.profiles .container .profile-header{
	border-radius: 0px 0px 10px 10px;
}
.profiles .container .profile-header .header-port{
	max-height: 300px;
	overflow: hidden;
}
.profiles .container .profile-header .header-nav a:hover{

background: rgba(188,193,197,1);
background: -moz-linear-gradient(top, rgba(188,193,197,1) 0%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(188,193,197,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(top, rgba(188,193,197,1) 0%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(top, rgba(188,193,197,1) 0%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(top, rgba(188,193,197,1) 0%, rgba(235,235,235,1) 100%);
background: linear-gradient(to bottom, rgba(188,193,197,1) 0%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcc1c5', endColorstr='#ebebeb', GradientType=0 );
color:#fff;
}
.profiles .container .profile-header .header-nav a{
	color: #777777;
	font-family: arial;
	font-size: 1.2em;
}
.profiles .container .profile-header .header-port img{
	width:100%;
}
.profiles .container .profile-data-header{
	margin-left: 50px;
	position: absolute;
	top:100px;

}
.popular{
	margin-top: 20px;
}
.popular h2{
	background: #36B5AC;
	text-align: center;
	font-size: 1.3em;
	border-radius: 5px;
	padding: 5px 0px;
	font-family: gothamTwo;
	color: #fff;
}
.popular a{
	color: #28AADE;
	font-size: 1.2em;
	font-family: arial;
}
.editar-foto{
	margin-top: 5px;
	color: #A6A6A6;
	padding: 3px 0px;
	font-size: 1.2em;
	border-bottom: 1px dashed #ddd;
}
.editar-foto:hover{
	cursor: pointer;
	background: #9A9A9A;
	color: #FFFFFF;
}
.data-img-profile{
	background: rgba(239,239,239,1);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(21%, rgba(239,239,239,1)), color-stop(54%, rgba(250,250,250,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 21%, rgba(250,250,250,1) 54%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ededed', GradientType=0 );
	padding: 1px 0px;
	border-radius: 5px;
}
.profiles .container .profile-data-header .data-img-profile .data-profile .profile-message p{
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: 10px;
}
.profiles .container .profile-data-header .data-img-profile .data-profile .name-profile h2{
	font-size: 2em;
	color: #8f8f8f;
	margin-top:10px;
	font-family: gothamTwo;
}
.profiles .container .profile-data-header .data-img-profile .data-profile p{
	width: 90%;
	margin:auto;
}
.profiles .container .profile-data-header .data-img-profile .more-data{
	margin:10px;
	color: #8f8f8f;
}
.profiles .container .profile-data-header .data-img-profile .img-profile img{
	max-width: 225px;
	width: 100%;
	text-align: center;
	margin:auto;
	display: block;
	margin-top: 10px;
	border-radius: 5px;
}

.profiles .interesting-header h2{
	color: #A6A6A6;
	font-size: 1.5em;
	margin-bottom: 10px;
}
.profiles .more-interesting .more-interesting-body{
	background: #F6F6F6;
	height: 200px;
	overflow: scroll;
	border: 1px solid #C9C9C9;
}
.profiles .more-interesting .more-interesting-body p{
	font-size: 1.1em;
	margin:10px;
	padding: 10px 0px;
	line-height: 1.5;
}
.profiles .interesting .interesting-body .hobbies .like-me{
	font-size: 1em;
 	padding:6px 9px;
 	border: 2px solid #37B5AA;
 	display: inline-block;
 	border-radius: 5px;
 	margin:3px;
 	cursor: pointer;
 	color:#37B5AA;
}
.profiles .interesting .interesting-body .hobbies .like-me:hover{
	border: 2px solid #A841FF;
	color:#A841FF;
}
.profiles .profiles-data-users{
	padding-bottom: 10px;
	position: relative;
}
.profiles .my-social .social-redes{
	display: inline-flex;
	overflow: hidden;
	max-width: 380px;
	width: 100%;
	position: relative;
	background: rgba(239,239,239,1);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(244,244,244,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(244,244,244,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(244,244,244,1) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#f4f4f4', GradientType=0 );

}
.profiles .my-social .social-redes .img-social {
	width: 100%;
	float:left;
	position: relative; 
}
.profiles .my-social .social-redes .social-body{
	color: rgb(157, 157, 157) !important;
	margin: 20px 10px 0px 15px;
}
.color_reds{
	color: rgb(157, 157, 157) !important;
}
.web-blogs-delete{
	background: #C35353 !important;
}
.profiles .my-social .social-redes .social-body h2{
	font-family: gothamTwo;
	font-size: 1.6em;
}
.profiles .my-social .social-redes .social-body p{
	font-family: arial;
	font-size: 1em;
	font-style: italic;
}
.profiles .my-social .social-redes .img-social img{
	width: 100%;
	max-width: 195px;
	margin:5px;
}
.profiles .my-social .social-redes .img-social .sub-img-social{
	max-width: 20px !important;
	position: absolute;
	right: 15px;
	bottom:5px;
}
.profiles .my-social .social-redes .social-body{
	float: right;
}
.profiles .add-social .add-body .button-add{
	border-radius:5px;padding:6px 12px; background:#37B4AA;border:0px;color:#fff;
}
.profiles .add-social .add-body .button-delete{
	border-radius: 5px;
	padding: 6px 12px;
	background: #c35353;
	border: 0px;
	color: #fff;
}
.profiles .add-social .add-body input{
	width:80%;display:inline; margin-right: 5px ;
}


/*SOBRE MI PARA EMPRESAS Y CELEBRIDADES*/
.tendencias-post{
	border-radius: 0px !important;
}
.no-background{
	background: none !important;
}
.profiles .content-post{

background: rgba(254,254,254,1);
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(232,232,232,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(232,232,232,1)));
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(232,232,232,1) 100%);
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(232,232,232,1) 100%);
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(232,232,232,1) 100%);
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(232,232,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e8e8e8', GradientType=0 );
border-radius: 0px 0px 15px 15px;
}
.profiles .content-post .post-body{
	background: #FFFFFF;
	/*margin:10px 10px 0px 10px;*/
	position: relative;
	border: 2px solid #DCDCDC;
	border-radius: 10px 10px 0px;
}
.profiles .content-post .post-header,.profiles .content-post .post-description, .profiles .content-post .post-body .post-media, .profiles .content-post .post-body .post-data, .profiles .content-post .post-footer{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.profiles .content-post .post-body .post-user{
	width: 100%;
	display:inline;
}
.profiles .content-post .post-body .post-user .post-icono img{
	width: 50px;
	float: left;
	margin-right: 10px;
}
.profiles .content-post .post-body .post-user .post-user a{
	font-family: arial;
	font-size: 1em;
	color: #000;
	font-weight: bold;

}
.profiles .content-post .post-body .post-user .post-twitt span{
	font-family: arial;
	font-size: .9em;
	color: #CDD4DA;

}
.profiles .content-post .post-body .post-header .post-follow a,.profiles .content-post .post-body .post-header .post-follow img,.profiles .content-post .post-body .post-header .post-follow h2{
	float: right;
	clear: right;
}
.profiles .content-post .post-body .post-header .post-follow img{
	position: relative;
	right: 10px;
	width: 70px;
}
.profiles .content-post .post-body .post-header .post-follow a{
	cursor: pointer;
	background: #707173;
	color: #B8B8BA;
	padding: 3px 5px;
	border-radius: 2px;
}
.follow-post-active{
	background: #37B4AA !important;
	color: #FFF !important;
}
.follow-post-desactive{
	background: #707173 !important;
	color: #B8B8BA !important;
}
.profiles .content-post .post-body .post-header .post-follow a{
	text-decoration: none;
}
.profiles .content-post .post-body .post-description {
	color: #000;
	font-size: 1em;
	margin-bottom: 10px;
}
.profiles .content-post .post-body .post-media iframe{
	width: 100%;
	max-height: 220px;
}
.profiles .content-post .post-body .post-media img{
	width: 100%;
	cursor: pointer;
}
.profiles .content-post .post-body .post-data hr{
	border-top: 1px solid #ede9e9;
	margin: 5px 0px !important;
}
.profiles .content-post .post-body .post-data .post-stadistic{
	display: inline;
	color: #8E8D9B;
	float: left;
	margin-right: 10px;
}
.profiles .content-post .post-body .post-data .post-stadistic .data-header{
	font-family: arial;
	font-size: .8em;
}
.profiles .content-post .post-body .post-data .post-follow-people{
	color: #8E8D9B;
}
.profiles .content-post .post-body .post-data .post-follow-people img{
	width: 20px;
	position: relative;
	top: 3px;
	margin-right: 2px;
}
.profiles .content-post .post-body .post-data .post-stadistic .data-num{
	font-family: gothamTwo;
	font-size: .8em;
	text-align: center;
}

.profiles .content-post .post-body .post-data .post-date span{
	color: #8E8D9B;
	font-size: .8em;
	position: relative;
	top: -5px;
}
.profiles .content-post .post-footer .post-share {
	font-size: 1.5em;
	cursor: pointer;
}
.profiles .content-post .post-footer .post-comment {
	font-size: 1.5em;
	color: #707173;
}
.profiles .content-post .post-footer .post-like-me {
	font-size: 1.5em;
	color: #707173;
	cursor: pointer;
}
.profiles .content-post .post-footer .post-like-me-active {
	font-size: 1.5em;
	color: #EF4D0D;
	cursor: pointer;
}
.profiles .content-post .post-footer .qualification-header {
	color: #BBBBBB;
	display: block;
}
.profiles .content-post .post-footer .qualification {
	color: #FFCD00;
}
.profiles .content-post .post-footer .post-property {
	margin-top: 10px;
}
.profiles .content-post .post-footer .post-property img{
	width: 35px;
	float: right;
}
.profiles .content-post .post-footer div{
	display: inline;
}
.border-right-post-tendencias{
	border-right: 1px solid #CCCCCC;
	padding: 0px 5px;
}
.number-post{
	color: #999999;
}

.post-qualification a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;	
	cursor: pointer;
	color: #888;
}

.post-qualification:hover a {
	color: #FFD400;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.post-qualification > a:hover ~ a {
	color: #888;
}
.qualification-popular{
	color: #FFD400 !important;
}

.profiles .content-post .post-body .post-data .post-data-footer-face a{
	text-decoration: none;
	color: #ACB9C1;
	margin-right: 10px;
}
.profiles .content-post .post-body .post-data .post-data-footer a{
	text-decoration: none;
	color: #ACB9C1;
	margin-right: 35px;
}
.profiles .content-post .post-body .post-data img{
	width: 20px;
}
.profiles .content-post .post-body .post-data .nav .open > a, .nav .open > a:focus, .profiles .content-post .post-body .post-data  .nav .open > a:hover {
	background-color: #fff !important;
}
.profiles .content-post .post-body .post-data .navbar-nav > li > a:focus, .profiles .content-post .post-body .post-data .navbar-nav > li > a:hover {
	background-color: #fff !important;
}
.profiles .content-post .post-body .post-data .navbar-nav > li > a { 
	padding: 0px !important;
	color: #4D4D4D;
}
.profiles .content-post .post-body .post-data .nav > li > a {
	padding:0px 0px !important;
}
.profiles .content-post .post-body .post-data .face-stadist .right-coment, .profiles .content-post .post-body .post-data .face-stadist span {
	font-size:.8em;
}
.profiles .content-post .post-body .post-data .face-stadist span .face-comment, .profiles .content-post .post-body .post-data .face-stadist .right-coment{
	color: #365899;
}
.profiles .content-post .post-body .post-data .face-stadist span div{
	display: inline; 
}
.profiles .content-post .post-body .post-data .face-stadist span{
	float: left;
}
.profiles .content-post .post-body .post-data .face-stadist .right-coment{
	float: right;
}
.profiles .content-post .post-body .post-data .face-stadist{
	margin: 10px 0px;
	width: 100%;
	padding:5px 0px;
}
.profiles .content-post .post-body .post-data .post-data-footer-face{
	margin-bottom: 5px;
	padding: 5px 0px;
}
.profiles .content-post .post-body .post-data .post-data-footer-face a .data-text{
	font-size: .7em;
	font-family: arial;
	font-weight: bold;
}
.profiles .content-post .search-more{
	width: 100%;
}
.profiles .search-more{
	display: inline;
}
.profiles .search-more .left hr, .profiles .search-more .right hr{
	width: 40% !important;
}
.profiles .search-more .center span{
    color: #fff;
    font-family: gothamTwo;
    position: relative;
top: 35px;
}
.profiles .search-more .center div{
	text-align:center;
	background:#01B6B1;
	cursor: pointer;
	width: 100px !important;
    height: 100px !important;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    position: relative;
top: -35px;
}
.profiles .search-more .center {
	float: left;
	width: 15%;
}
.profiles .search-more .left hr{
	float: left;
}
.profiles .search-more .right hr{
	float: right;
}



.profiles .content-post .search-more-favorit{
	width: 100%;
}
.profiles .search-more-favorit{
	display: inline;
}
.profiles .search-more-favorit .left hr, .profiles .search-more-favorit .right hr{
	width: 20% !important;
}
.profiles .search-more-favorit .center span{
    color: #fff;
    font-family: gothamTwo;
    position: relative;
top: 35px;
}
.profiles .search-more-favorit .center div{
	text-align:center;
	background:#01B6B1;
	cursor: pointer;
	width: 100px !important;
    height: 100px !important;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    position: relative;
	top: -35px;
}
.profiles .search-more-favorit .center {
	float: left;
	width: 50%;
}
.profiles .search-more-favorit .left hr{
	float: left;
}
.profiles .search-more-favorit .right hr{
	float: right;
}


/*Friends Profile*/
.profiles .friends .content-friends{
	
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 54%, rgba(240,240,240,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,254,254,1)), color-stop(54%, rgba(240,240,240,1)), color-stop(100%, rgba(240,240,240,1)));
	background: -webkit-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 54%, rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 54%, rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(left, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 54%, rgba(240,240,240,1) 100%);
	background: linear-gradient(to right, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 54%, rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0', GradientType=1 );


	-webkit-box-shadow: -1px 0px 13px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 13px -3px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 13px -3px rgba(0,0,0,0.75);

	border-radius: 15px;
	margin-bottom: 20px !important;
}
.profiles .friends .content-friends .sub-content-friends{
	padding: 10px;
}
.profiles .friends .content-friends .sub-content-friends .img-friend img{
	max-width: 200px;
	width: 100%;
	margin: auto;
    display: block;
}
.social-icon img{
	max-width: 25px !important;
}
.social-icon{
	text-align: center;
	top:-10px;
	position: relative;
	margin-bottom: 10px;
}
.social-icon a{
	text-align: center
	text-decoration: none;
	display: inline-block;
}
.profiles .friends .content-friends .sub-content-friends .friend-social img{
	max-width: 25px;
}
.profiles .friends .content-friends .sub-content-friends .friend-social{
	text-align: center;
	top:-10px;
	position: relative;
}
.profiles .friends .content-friends .sub-content-friends .friend-social a{
	text-decoration: none;
}
.profiles .friends .content-friends .sub-content-friends .friend-name{
	text-align: center;
}
.profiles .friends .content-friends .sub-content-friends .friend-name h2{
	font-family: gothamTwo;
	font-size: 1.5em;
	color: #B7B7B7;
}
.profiles .friends .content-friends .sub-content-friends .friend-name a{
	text-decoration: none;
}

/* BUESQUEDAS */
.busquedas-header{
	color: #004860;
	font-size: 2em;
	font-family: gothamTwo;
	margin-bottom: 20px;
}
.container-busquedas{
	background: rgba(241,241,241,1);
	background: -moz-linear-gradient(left, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 45%, rgba(241,241,241,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,241,241,1)), color-stop(45%, rgba(241,241,241,1)), color-stop(100%, rgba(241,241,241,1)));
	background: -webkit-linear-gradient(left, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 45%, rgba(241,241,241,1) 100%);
	background: -o-linear-gradient(left, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 45%, rgba(241,241,241,1) 100%);
	background: -ms-linear-gradient(left, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 45%, rgba(241,241,241,1) 100%);
	background: linear-gradient(to right, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 45%, rgba(241,241,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1', GradientType=1 );
	border:2px solid #E0E0E0;
	overflow: hidden;

}
.container-busquedas .sub-content-busqueda .busquedas-content{
	margin-right: 10px;
}
.container-busquedas .sub-content-busqueda .busquedas-content .content-busqueda-header{
	margin-bottom: 10px;
}
.container-busquedas .sub-content-busqueda .busquedas-content .content-busqueda-header span{
	color: #999999;
}
.container-busquedas .sub-content-busqueda .busquedas-content .content-busqueda-header .first-title{
	font-size: 1.5em;
	font-family: gothamTwo;
	padding-right: 5px;
	border-right: 1px solid #999999;
}
.container-busquedas .sub-content-busqueda .busquedas-content .content-busqueda-header .sub-title{
	font-size: 1.2em;
	font-family: arial;
}
.container-busquedas .sub-content-busqueda .busquedas-content p{
	font-family: arial;
	font-size: 1em;
	text-align: justify;
}
.container-busquedas .sub-content-busqueda{
	margin:10px;
	overflow: hidden;
}
.container-busquedas .sub-content-busqueda .img-busqueda{
	margin-right: 10px;
}
.container-busquedas .sub-content-busqueda .img-busqueda img{
	width: 100%;
}
.container-busquedas .sub-content-busqueda .busquedas-settings{
	width: 22%;
	display: inline-block;
}
.container-busquedas .sub-content-busqueda .busquedas-settings ul{

background: rgba(254,254,254,1);
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(241,241,241,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(241,241,241,1)));
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(241,241,241,1) 100%);
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(241,241,241,1) 100%);
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(241,241,241,1) 100%);
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(241,241,241,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f1f1f1', GradientType=0 );
margin-bottom: 15px;
border:1px solid #ccc;
overflow: hidden;
}
.container-busquedas .sub-content-busqueda .busquedas-settings ul .busquedas-sub-options{
	float: right;
	margin-right: 5px;
}
.container-busquedas .sub-content-busqueda .busquedas-settings ul li{
	display: inline-block;
}
.container-busquedas .sub-content-busqueda .busquedas-settings .qualification{
	color: #FFD400;
	font-size: 1.2em;
}
.container-busquedas .sub-content-busqueda .busquedas-settings .busquedas-social img{
	width: 25px;
}
.container-busquedas .sub-content-busqueda .busquedas-settings .qualification-header {
	color: #999999;
	font-family: arial;
}
.container-busquedas .sub-content-busqueda .busquedas-settings .busquedas-share {
	font-size: 1.5em;
	color:#707172;

}
.container-busquedas .sub-content-busqueda .busquedas-settings .show-more:hover{
	text-decoration: none;
}
.container-busquedas .sub-content-busqueda .busquedas-settings .show-more{
	background: #66C1BF;
	padding: 10px 5px;
	color: #fff;
	font-family: gothamTwo;
	border-radius: 5px;
	float: right;
	top: -5px;
	position: relative;
}
.container-busquedas .sub-content-busqueda .busquedas-settings .busquedas-like-me {
	font-size: 1.5em;
	color: #EF4D0D;
	
}




/*Configuraciones laravel*/

.hobbie-selected{
    border: 2px solid #A841FF;
    color: #A841FF;
	padding: 5px 9px;
	display: inline-block;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}


/*Popular trends*/
.popular-pic{
	margin-top: 20px;
	border:2px solid #CCCCCC;
	text-align: center;
}
.popular-pic h2{
	color: #999999;
	font-family:gothamTwo;
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 10px;
	float: left;
	position: relative;
	clear: both;
	left: 10px !important;
}
.popular-pic .pic{
	width: 31.33%;
	text-align: center;
	display: inline-block;
	margin:auto;
}

.popular-pic .pic img{
	border-radius: 5px;
	display: block;
	text-align: center;
}
.title-trends{
	color: #28AADE !important;
	font-size: 3em !important;
	font-family: arial;
}

.button-perfil{
	position: absolute;
	right: 40px;
	bottom: 40px;
}
.button-perfil:hover{
	text-decoration: none;
}


/*shop*/
.shop-border-radius{
	border-radius: 10px 10px 0px 0px;
	border:2px solid #DCDCDC;
}

.shop-header-radius{
	border-radius: 10px 10px 0px 0px !important; 
}
.shop-background{

background: rgba(253,253,253,1) !important;
background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(234,234,234,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(234,234,234,1))) !important;
background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(234,234,234,1) 100%) !important;
background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(234,234,234,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(234,234,234,1) 100%) !important;
background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(234,234,234,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea', GradientType=0 ) !important;

}

.title-shop{
	color: #999999;
	font-size: 3em !important;
	font-family: gothamTwo;
}
.price{
	color: #999999;
	font-size: 2.5em !important;
	font-family: gothamTwo;
}

.shymow-shop-header-title{
	background: #37B4AA;
	padding: 10px 0px;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	position:relative;
	text-align: center;
}
.shymow-shop-header-content{
	text-align: center;
	
background: rgba(244,246,245,1);
background: -moz-linear-gradient(top, rgba(244,246,245,1) 0%, rgba(213,213,213,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,246,245,1)), color-stop(100%, rgba(213,213,213,1)));
background: -webkit-linear-gradient(top, rgba(244,246,245,1) 0%, rgba(213,213,213,1) 100%);
background: -o-linear-gradient(top, rgba(244,246,245,1) 0%, rgba(213,213,213,1) 100%);
background: -ms-linear-gradient(top, rgba(244,246,245,1) 0%, rgba(213,213,213,1) 100%);
background: linear-gradient(to bottom, rgba(244,246,245,1) 0%, rgba(213,213,213,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6f5', endColorstr='#d5d5d5', GradientType=0 );
	font-size:2em;
	width: 30%;
	margin:auto;
	position: absolute;
	left: 36%;
	top: -27px;
	border-radius: 10px;
	padding: 15px 15px;
	color: #37B4AA;
	font-family: gothamTwo;
}
.circle-left, .circle-right{
	padding:13px 13px;
	border-radius: 50%;
	background: #37B4AA;
	top: 10px;
	position: relative;
}
.circle-left{
	float: left;
}
.circle-right{
	float: right;
}


/*AGREGAR PRODUCTO STEP 1*/

.create-product-container{
	border:1px solid #DDDDDD;
	border-radius: 5px;
	position: relative;
}
.create-product-header{
	border-bottom: 1px solid #DDDDDD !important;
}
.create-product-header h2{
	z-index: 3;
	color: #999999;
	font-family: gothamTwo;
	font-size: 1.5em;
	padding:15px 0px;
}
.border-right::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
        border-top-width: 27px;
        border-top-style: solid;
        border-top-color: transparent;
    border-bottom: 27px solid transparent;
    border-left:27px solid white;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    margin-right: 12px;
    left: 93.8%;
    z-index: 1;
}

.border-right-active::before{
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 27px solid transparent;
	border-top-width: 29px;
	border-top-style: solid;
	border-top-color: transparent;
	border-bottom: 29px solid transparent;
	border-left: 27px solid #F3F3F3;
	position: absolute;
	top: 50%;
	margin-top: -29px;
	margin-right: 12px;
	left: 99.8%;
	z-index: 5;
}
.active-background-product-agregate{
	background: #F3F3F3;
}
.create-product-header .border-right:after{
	    content: "";  

    border-top: 27px solid transparent;

    border-bottom: 27px solid transparent;

    border-left: 27px solid #DDDDDD;

    position: absolute; right: -10px; top: 0;
}
.border-right-active:after{
	   content: "";  

    border-top:29px solid transparent;

    border-bottom: 29px solid transparent;

    border-left: 29px solid #E1E1E1;
	z-index: 3;
    position: absolute; right: -29px; top: -2px;
}
.product-category-select{
	display: block;
	text-align: center;
}
.product-category-select img{
	text-align: center;
	display: block;
	margin:auto;
	margin-top: 10px;
}

.create-product-title{
	width: 95%;
	margin: 0px auto 25px auto;
	padding: 15px 0px;
	border-radius: 5px;
	overflow: auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f9f9f9+100 */
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f1f1f1 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f1f1f1 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
.create-product-title p {
	color: #999999;
	font-size: 1.2em;
	font-weight: bold;
}
.create-product-title span {
	color: #ADADAD;
	font-size: 1em;
	font-family: gothamTwo;
}
.product-category-select img ,.product-category-select h2{
	cursor: pointer;
}
.create-product-selects {
	margin-top: 60px !important;
}
.category-select-product-create h2{
	color: #66C0C0;
	font-family: gothamTwo;
	font-size: 1.5em;
	margin-top:10px;
	margin-bottom:10px;
}
.list-display{
	max-height: 150px;
	height: 170px;
	overflow-x: hidden;
    overflow-y: scroll;
    border:1px solid #DDDDDD;
    border-radius: 5px;
    margin-bottom: 20px;
}
.create-product-selects{
	margin-top: 25px;
}
.active-personal{
	z-index: 2;	background-color: #F2F2F2;
}
.botton-margin{
	position: relative;
	right: 20px !important;
	margin-bottom: 20px;
}
.create-product-footer p{
	color:#999999;
	margin-top: 5px;
	font-size: 1.2em;
	margin-bottom: 10px;
}
.create-product-footer a{
	text-decoration: underline;
}

.information-producto-header h2{
	margin-left: 20px;
	font-size:1.5em;
	color: #999999;
	font-family: gothamTwo;
	margin-bottom: 20px;
}

.information-producto-upload-img {
	text-align: center;
}
.information-producto-upload-img h2{
	color: #66BEC0;
	font-family: gothamTwo;
	font-size: 1.6em;
}
.information-producto-upload-img img{
	margin:auto;
	display: block;
}

.content-upload-img-information{
	margin-bottom: 20px;
}
.border-img-information img, .border-img-information h2 {
	cursor: pointer;
}
.border-img-information{
	width: 95%;
	margin:10px auto;
	border:1px solid #DDDDDD;
	padding: 10px 0px;

}
.create-product-title textarea{
	height: 100px;
}
.information-producto-footer input{
	display: initial !important;
	width: initial !important;
	margin-left: 10px;
	margin-right: 10px;
}
.information-producto-footer label{
	color: #999999;
	font-size: 1.2em;
	font-weight: bold;
}

.information-producto-header .form-group span{
	color: #999999;
	font-size: 1.2em;
}
.information-producto-header .form-group{
	margin-left: 20px;
	margin-bottom: 0px;
}

.upload-image-postProfile{
	display: none;
	min-width:250px;
}
.upload-image-post{
	display: none;
	width: 90px;
	height: 90px
}
.upload-image-post:hover{
	background: #fff;
	cursor: pointer;
	opacity: 0.5;
  	filter:  alpha(opacity=50);
}


/*BUY CATEGORY SELECT*/

.category-select-buy{
	background: rgb(234, 230, 230) none repeat scroll 0% 0%;
	border-radius: 5px;
}

.categorys-product, .first-spesification, .last-spesification{
	display: none;
}


/*CONFIGURACION SHYMOW SHOP*/
.padding-aut{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.identificate{

	border:1px solid #CECCCC;
	border-radius: 5px;
	text-align: center;
}
.header-identificate h2{
	color: #999999;
	padding: 10px 0px;
	font-size: 1.5em;
	font-family: gothamTwo;
	border-bottom: 1px solid #CECCCC;
}

.identificate-content p{
	color: #999999;
	font-size: 1.2em;
	margin-top: 25px;
	margin-bottom: 15px;
}
.identificate-user{
	width: 40%;
	border-radius: 5px;
	margin:auto;
	background: #EFEFEF;
	padding:10px 5px;
}
.identificate-user img{
	width: 90%;
	display: block;
	margin:auto;
	border-radius: 5px;
}
.identificate-user h2{
	color: #999999;
	margin-top: 5px;
	font-size: 1.2em;
	font-family: gothamTwo;
}

.identification span{
	color: #999999;
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-top: 25px;
	display: block;
}
.identification input{
	width: 40%;
	margin:auto;
}
.identification button{
	display: block;
	margin:10px auto;
}
.identification a{
	display: block;
	margin-bottom: 20px;
}

/*GENERAL*/
.color-edit{
	color: #B1E6DE;
}
.color-label{
	color: #1EB4A9;
}
.shymow-shop-general span{
	font-size: .9em;
	color: #6E6E6E;
}

/*HEADER SHYMOW SHOP CONFIG*/

.h2-header{
	z-index: 3;
	color: #999999;
	font-family: gothamTwo;
	font-size: 1.5em;
	padding: 1px 0px;
}

.header-config-shymow-notification p{
 	margin-left: 16px;
 	color: #999999;
 	font-size: 1.1em;

}

.notification-config-shop img{
	display: inline;
}
.notification-config-shop p{
	display: inline;
 	color: #999999;
 	font-size: 1.1em;

}

/*Style general*/


.color-shymow{
	color: #37B4AA;
	font-family: gothamTwo;
	font-size: 1.2em;
	margin:10px 0px;
}

.box-comment{
	cursor: pointer;
}
.box-comment-content{
	margin-top: 0px;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	border-radius: 0px 0px 10px 10px;
	position: relative;
	top: -10px;
	display: none;
}
.box-comment-content .form-group{
	margin-top: 10px;
}
.box-comment-body{
	width: 100%;
}
.box-coment-data-header, .box-coment-data-description{
	margin: 10px;
}

.box-comment-data-content{
	border-bottom: 1px solid #DCDCDC;
}

/*TYPEAHEAD*/
#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}
#custom-templates .tt-menu, #custom-templates .tt-open{
	width: 100%;
	width: 100% !important;
	background: #fff;
}
.tt-dataset a img{
	max-width: 30px;
	max-height: 30px;
	margin:5px;
	display: inline;
}

.tt-dataset tt-suggestion:hover{
	background: #037FAC !important;
}

.error-danger{
	display: none;
}

.new_social{
	cursor: pointer;
}



/*CHAT*/
.float-chat{
	max-width: 350px;
	position: fixed;	
	bottom: 0px;
	right: 0px;
	color: #fff;
	z-index: 10000;

}
.float-chat .chat-over:hover{
	background: #37B4AA;
}
.float-chat .chat-over{
	display: inline;
	border-right: 2px solid #fff;
	cursor: pointer;
	padding: 15px;
	background: #61605F;
}

.float-chat .chat-over i{
	font-size: 2em;
}
.chat-float-message{
	position: relative;
}
.count-notification{
	background: #E1010E;
	position: absolute;
	border-radius: 2px;
	right: 0px;
	bottom: 15px;
	display: none;
}
.number-notify{
	font-size: .8em;
	font-family: gothamTwo;
	padding: 5px;
}

.chat-float-view{
	background: #EEEFEE !important;
}


/* ESTILOS DE CHAT MESSAGES*/
.chat-messages-container{
	height: 100% !important;
}
.chat-border{
	border:2px solid #EEEEEE;
	border-radius: 10px;
	padding: 15px;
}
.chat-border .header-chat{
	color:#949494;
	font-family: gothamTwo;
	margin:10px 0px;
}

.paddgin-chat{
	padding: 10px;
}
.notify-message{
	color:#000;cursor:pointer;
	overflow: auto;
	padding: 10px;
}
.notify-message:hover{
	background: #E1F0EC;
}
.notify-message .notify-message-header .time span{
	color: #565454;
	float:right;
}
.notify-message .notify-message-header .name span{
	float:left;
}
.notify-message .notify-message-header .time{
	font-weight: bold;
}
.notify-message .notify-message-header .name{
	font-weight: bold;
}
.notify-message img{
	width:100%;
}
.notify-message .content-information{
	font-size:.9em;
}
.message-description-header .user{
	float: left;
}
.message-description-header .more-options{
	float:right;
	overflow: hidden;
	display: inline-block;
}
.chat-messages-container .content-messages{
	height: 350px;
	max-height: 350px !important;
	overflow-x:hidden; overflow-y:scroll;
}
.message-description-information .content-chat-messages{
	height: 350px;
	max-height: 350px !important;
	overflow-x:hidden; overflow-y:scroll;
}
.message-description-new-information{
	min-height: 400px;
	position: relative;
}
.message-description-new-information .tt-menu, .message-description-new-information .tt-open{
	background: #fff !important;
}
#new_message_messages{
	width: 100% !important;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.chatSelect:hover{
	background: #B3DBCD !important;
}
.chatSelected{
	background: #B3DBCD;
}
.chatSelect{
	border-bottom: 1px solid #fff;
}
.notReaderMessage{
	background: #E1F0EC !important;
}
.send-new-message input[type="text"]{
	/*border: 0px solid;*/
}

.chat-message {
    color: #000;
    overflow: auto;
    padding: 10px;
}
.chat-message .notify-message-header .time span{
	float:right;
}
.chat-message .notify-message-header .name span{
	float:left;
}
.chat-message .notify-message-header .time{
	font-weight: bold;
}
.chat-message .notify-message-header .name{
	font-weight: bold;
}
.chat-message img{
	width:100%;
}
.chat-message .content-information{
	font-size:.9em;
}

#sendMessageChat{
	display: none;
}



/*EDITAR IMAGEN PERFIL*/
.edit_img button, .edit_img a{
	margin:20px;
	display: none;
}
.edit_img img{
	display: none;
	width: 400px;
	margin:20px;
	border:2px solid #696666;
}
.edit_img h2{
	border-bottom: 2px dashed #807F7F;
	font-family: gothamTwo;
}

.edit_img span{
	margin-top: 20px;
	font-size: 6em;
	cursor: pointer;
}

.color-edit:hover{
	color: #D50000;
}
.color-edit{
	color: #37B5AA;
	cursor: pointer;
	font-size: 18px !important;
}

/*Categoria favoritos title*/
.text-favorite{
	font-family: gothamTwo;
	color: #999999 !important;
	font-size: 1.3em;
	width: 100%;
}
.text-favorite span{
	float: right;
}

/*BOTONES*/
.btn-default-s{
	background: #37B5AA;color: #fff
}
.btn-default-s:hover{
	background: #fff; color:#37B5AA;border:1px solid #37B5AA;
}
.img_cat_search{
	position: absolute;
	left: -60px;
	top: 0.5px;
	width: 50px;
	z-index: 100000;
}
.panel-changes{
	position: relative;
}
.panel-changes .container-busquedas{
	margin-bottom: 10px;
}

.modalFooter{
	background: #37B5AA;
	padding: 5px 10px;
}

.modalFooter h2{
	font-family: gothamTwo;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 10px;
}

.modalFooter hr{
	color: #FFF !important;
	border-top: 1px solid #FFF !important;
}
.modalFooter a{
	background: transparent !important;
	border:2px solid #FFF;
	color: #FFF !important;
	text-decoration: none;
}

.modalFooter a:hover{
	border:2px solid #FFF;
}

.delete_post{
	color:#7B7B7B;
	float: right;
	background: none !important;
	margin-bottom: 5px;
}

.delete_post:hover{
	color:#B70101 !important;
}